<header class="header header-bgcolor">

  <div class="branding">
    <a class="logo-and-title" routerLink="/">
      <clr-icon shape="alarm-clock"></clr-icon>
      <span class="title">Timesheet</span>
    </a>
  </div>

  <div class="header-nav">
      <a routerLink="/view" class="nav-link nav-text" routerLinkActive="active">View</a>
      <a routerLink="/create" class="nav-link nav-text" routerLinkActive="active">Create</a>
  </div>

  <div class="header-actions">
      <a class="nav-link nav-icon">
        <img class="user-img" src="/assets/guineapig.png">
    </a>
  </div>
</header>
