
<div class="workingday-wrapper">
  <form class="clr-form" [formGroup]="form" clrForm>

    <!-- Arbeitstag -->
    <div class="clr-form-control">
      <label for="workingday" class="clr-control-label">Arbeitstag:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input #select type="date" id="workingday" clrDate formControlName="workingday">
        </div>
      </div>
    </div>

    <!-- Von -->
    <div class="clr-form-control">
      <label for="start" class="clr-control-label">Von:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" id="start" clrInput formControlName="start">
        </div>
      </div>
    </div>

    <!-- End -->
    <div class="clr-form-control">
      <label for="end" class="clr-control-label">Bis:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" id="end" clrInput formControlName="end">
        </div>
      </div>
    </div>

    <!-- Breaks -->
    <div class="clr-form-control">
      <label for="breaks" class="clr-control-label">Pausen:</label>
      <div class="clr-control-container">
        <app-break-input></app-break-input>
      </div>
    </div>

    <!-- Speichern -->
    <div class="clr-form-control">
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Speichern</button>
    </div>
  </form>

</div>
