
<div class="workingday-wrapper">
  <form class="clr-form clr-form-vertical" [formGroup]="form">

    <!-- Workingday -->
    <div class="clr-form-control">
      <label for="day" class="clr-control-label">Arbeitstag:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input #select id="day" type="date" formControlName="day" clrDate>
        </div>
      </div>
    </div>

    <!-- Start -->
    <div class="clr-form-control">
      <label for="start" class="clr-control-label">Von:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input id="start" type="time" formControlName="start">
        </div>
      </div>
    </div>

    <!-- End -->
    <div class="clr-form-control">
      <label for="end" class="clr-control-label">Bis:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input id="end" type="time" formControlName="end">
        </div>
      </div>
    </div>

    <!-- Description -->
    <div class="clr-form-control">
      <label for="description" class="clr-control-label">Beschreibung:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input id="description" type="text" formControlName="description">
        </div>
      </div>
    </div>

    <!-- Breaks -->
    <div class="clr-form-control">
      <label for="breaks" class="clr-control-label">Pausen:</label>
      <div class="clr-control-container">
        <div class="break" *ngFor="let entry of form.controls['breaks'].controls; let i=index" formArrayName="breaks">
          <app-break-input [formControlName]="i"></app-break-input>
          <span *ngIf="form.controls['breaks'].controls[i].errors?.endBeforeStart" class="input-error">Das Ende darf nicht vor dem Start liegen.</span>
        </div>

        <button class="btn btn-icon btn-sm" type="button" (click)="addBreak()">
          <clr-icon shape="plus"></clr-icon>
        </button>
      </div>
    </div>

    <!-- Save -->
    <div class="clr-form-control">
      <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="form.invalid">Speichern</button>
    </div>
  </form>
</div>
